.navbar {
  background-color: #333;
  padding: 10px 0;
  position: fixed; /* Add this line */
  width: 100%; /* Add this line to make it full width */
  top: 0; /* Add this line to stick it to the top */
  z-index: 1000; /* Add this line to ensure it's above other elements */
}
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-brand {
    color: #fff;
    font-size: 1.5rem;
    text-decoration: none;
  }
  
  .navbar-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .nav-item {
    margin-left: 20px; /* Adjusted margin from right to left */
  }
  
  .nav-link {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    cursor: pointer;
  }
  
  .nav-link:hover {
    color: crimson;
    cursor: pointer;

  }
  