<div class="wrapper">
    <div class="container main">
        <div class="row">
            <div class="col-md-6 side-image">
                       
                
                <div class="text">
                </div>
                
            </div>

            <div class="col-md-6 right">
                
                <div class="input-box">

                       
    <form *ngIf="!showForgotPasswordForm; else forgotPasswordForm" [formGroup]="loginForm" (ngSubmit)="submitForm()">
        <div>
            <header>
                <h3> <b class="section-title">Access <span>To</span> your <span>Account</span></b></h3>
            </header>
          </div>  
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" formControlName="email" />
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" formControlName="password" />
        </div>

        <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Login</button>
        <br><br>
        <div class="forgot-password">
            <a (click)="showForgotPasswordForm = true" class="forgot">Forgot Password?</a>
        </div>

        <div class="signin">
            <h5>Already have an account?</h5> <h5><a [routerLink]="['/register']"><b>SignUp</b></a></h5>
           </div>
           
    </form>

        <!-- Forgot Password Form -->
        <ng-template #forgotPasswordForm>
            <form *ngIf="showForgotPasswordForm" (ngSubmit)="submitForgotPasswordForm()">
                <div>
                    <header>
                        <h3> <b class="section-title">Change <span>Your</span> Password </b></h3>
                    </header>
                  </div>
                <!-- Your forgot password form content here -->
                <!-- Example: -->
                <div class="form-group">
                    <label for="forgotEmail">Gmail</label>
                    <input type="email" class="form-control" id="forgotEmail" [(ngModel)]="forgotEmail" name="forgotEmail" />
                </div>
              
                <button type="submit" class="btn btn-primary">Submit</button>
                <br><br>
                <div class="forgot-password">
                    <a (click)="showForgotPasswordForm = false" class="forgot">Cancel</a>
                </div>           
             </form>
        </ng-template>
</div>


